
/* background-color: rgb(178, 122,230); */
/* margin: 0;
padding: 0; 

}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: #333;
}
.container{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;

}
.navbar{
    background-color:green;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}
.nav-wrapper{
display: flex;
flex-direction: column-reverse;
justify-content: center; */

/*navigation bar*/
  .navbar {
background-color: #333;
position: fixed; 
width: 100%;
top: 0;
left: 0; 
}
.navbar .container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
     padding: 10px 30px; 
    
   
} 
.menu{
    display:flex;
    list-style: none;
     gap: 30px;
    margin: 0;
    padding:0;
    
     
}
.menu a {
    text-decoration: none;
    /* color: #333; */
    color: white;
    font-weight: 500; 
   
} 
/*hero section*/

 .section-hero{
    background-image: url(https://refactory.academy/wp-content/uploads/2025/09/MAL_6861.jpg);
     height: 100vh;  
     
    
} 
 .container-hero{
    text-align: center;
    padding-top: 500px;
   
    
   
    
}
 .collaborate a {
  text-decoration: none; 
   background-color: #35063E ;
  color: white;
   padding: 12PX 24px;
  border-radius: 6px;
  font-size: 16PX;
  margin: 10px;
  cursor: pointer;
   
 
}
/* all button learn more of the page*/
button{
   background-color: #bad833 ;
  color: white;
  padding: 12PX 24px;
  border-radius: 6px;
  font-size: 16PX;
  margin: 10px;
  cursor: pointer;

}
 /*section-content*/
  .section-content{
     background-color: lightgray;
     
  }   

     .container-content{
    display: flex;
    gap:50px;
    justify-content: center;
    padding-top: 50px;
   
 
}
.container-exploration{
    text-align: center;
}
 .container-exploration h3{
   color: rgb(14, 87, 87);
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
.container-exploration h2{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
     font-size: 30px;
}
.img{
    display: flex;
    padding: 20px;
    margin: 10px; 
    gap: 30px;
    justify-content: center;
 
}  
/* section content2*/

.container-content2{
    display: flex;  
    gap: 50px;
    justify-content: center;
} 
.content2{
    text-align: justify;
    justify-content: center;
}
.content2 h1{
color: rgb(30, 30, 156);
}

/* footer*/
footer{
      
      background-image: url(https://media.licdn.com/dms/image/v2/C4E12AQHA1fpx9nJkzA/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1561656430702?e=2147483647&v=beta&t=ZbCIcnInX6nPkNplzkEKTMk7SmW2odZNLnIjRddm3vg);
}


.container-footer{       /* main div container in footer*/
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 50px;}
  
.container-footer h3 {     /* different headlines 3 in footer */
    color:skyblue;
    font-size: 25px;
    font-family: sans-serif;

}
.container-footer p{   /*  color white to footer'paragraphs*/ 
    color: white;
}
.menu-footer  {            /* remove point on ul */
    list-style: none;

}
.menu-footer a{           /*tag link a footer*/
    text-decoration: none;
    color: white;
}


.social-links{
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.social-links li a{
      display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
}
